
<section id="Experience">
  <div class="container">
    <h3>Experience</h3>
    <div class="panel panel-default">

      <h6 style="display: flex">
        <div align="left" style="width: 32%">
          <strong>Feb 2024 &ndash; Present</strong>
        </div>
        <div align="right" style="flex-grow: 1">
          <strong>Compiler Engineer &amp; Technical Team Lead</strong> &mdash; <a href="https://pi2.network/">Pi&sup2; Labs</a> (Fast)<br>
          Extending the K Framework's LLVM backend (KORE &rarr; LLVM), contributing to the K formal semantics of the EVM, and porting the Matching Logic Proof Checker across zkVMs (Cairo, RISC Zero, Lurk, zkLLVM). Technical Team Lead since Apr 2025.
        </div>
      </h6>

      <hr>

      <h6 style="display: flex">
        <div align="left" style="width: 32%">
          <strong>Jan 2023 &ndash; Jan 2024</strong>
        </div>
        <div align="right" style="flex-grow: 1">
          <strong>Compiler Engineer</strong> &mdash; Runtime Verification Inc<br>
          Developed the LLVM backend for the K Framework, compiling KORE to LLVM IR for fast, concrete execution of formally specified languages.
        </div>
      </h6>

      <hr>

      <h6 style="display: flex">
        <div align="left" style="width: 32%">
          <strong>Sep 2021 &ndash; Jan 2023</strong>
        </div>
        <div align="right" style="flex-grow: 1">
          <strong>Compiler Researcher Engineer</strong> &mdash; Plank<br>
          Researched, designed, and implemented smart contracts on Cardano using Haskell/Plutus; refactored VyFinance's on-chain smart contracts.
        </div>
      </h6>

      <hr>

      <h6 style="display: flex">
        <div align="left" style="width: 32%">
          <strong>May 2021 &ndash; Aug 2021</strong>
        </div>
        <div align="right" style="flex-grow: 1">
          <strong>Student</strong> &mdash; Google Summer of Code<br>
          Built an LLVM backend for TACO, the Tensor Algebra Compiler, generating LLVM IR for sparse and dense tensor expressions.
        </div>
      </h6>

      <hr>

      <h6 style="display: flex">
        <div align="left" style="width: 32%">
          <strong>Nov 2020 &ndash; Apr 2021</strong>
        </div>
        <div align="right" style="flex-grow: 1">
          <strong>Software Engineer Intern</strong> &mdash; Synergia<br>
          Full-stack development (ReactJS, Java 8, Oracle) and CI/CD (Jenkins, Docker) for the Minas Gerais State Procurement Portal (SEPLAG).
        </div>
      </h6>

      <hr>

      <h6 style="display: flex">
        <div align="left" style="width: 32%">
          <strong>Aug 2018 &ndash; Aug 2020</strong>
        </div>
        <div align="right" style="flex-grow: 1">
          <strong>Undergraduate Researcher</strong> &mdash; Compilers Laboratory, UFMG<br>
          Compiler analyses and optimizations for static branch prediction on clang/LLVM, under Prof. Fernando Magno Quint&atilde;o Pereira.
        </div>
      </h6>

    </div>
  </div>
</section>
