<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    
	   	 <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Robertorosmaninho/D-Dialect-for-MLIR">D Dialect for MLIR</a></strong>
			- The goal of this project is to provide LDC with a new level of abstraction to support the integration of the MLIR into the D ecosystem.
		</h5>
	    
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Robertorosmaninho/Project_Wyvern">Project Wyvern</a></strong>
			- The goal of this project is to design and implement techniques that lets us evaluate function arguments in a lazy fashion.
		</h5>

    </div>
  </div>
</div>
</section>
